<div class="page-container">
  <div class="page-card">
    <h2>TL;DR Why you should hire me. (Details below)</h2>
    <ul>
      <li>I'm graduating Victoria University of Wellington November 2023 with a Bachelor of Computer Science. (Note, I'm switching from Software Engineering to enter the workforce)</li>
      <li>I have 7 months professional experience with Sportsground LTD (07/2022 - 02/2023)</li>
      <li>I have been coding since 2019, self taught, and since 2021 tersiary.</li>
      <li>I was Vice President of the Victoria Engineering Club 2022.</li>
      <li>Victoria University of Wellington Tutor for Engineering 101, as well as Helpdesk for general coding issues.</li>
      <li>Various work experience from 2018-2022 (Arcade, Waiter, Supermarkets, Tutor, Developer, oldest -> newest)</li>
    </ul>
  </div>
  <div class="page-card">
    <h2>Language/Framework Experience</h2>
    <ul>
      <li>3 years of Javascript(Include NodeJS), 1 year of Typescript</li>
      <li>3 years of Java</li>
      <li>2 years of C++</li>
      <li>6 months of C#</li>
      <li>2 years of ReactJS, 6 months of AngularJS</li>
      <li>6 months of dotNET, 1 year of NestJS (ExpressJS/NodeJS)</li>
    </ul>
  </div>
  <div class="page-card">
    <h2>Noteworthy Projects</h2>
    <ul>
      <li>This website, with custom passwordless authentication, blog. Frontend in AngularJS, Backend in NestJS (Both Typescript).</li>
      <li>ProjectK, a online game development project with a friend. WIP Civilisation Clone (of sorts).</li>
      <li>Variety of minecraft plugins, ranging from 2019 to 2020 primarily.</li>
    </ul>
  </div>
</div>