<div class="page-container">
  <div class="page-card">
    <h2>This is the contact</h2>
    <p>I don't know why you're still reading, the information is all in the header</p>
  </div>
  <div class="page-card">
    <h2>Heres an example card</h2>
    <p>Here's some example text, about how this dude went to the FUCKING MOON BABY!</p>
  </div>
  <div class="page-card">
    <h2>Heres an example card</h2>
    <p>Here's some example text, about how this dude went to the FUCKING MOON BABY!</p>
  </div>
  <div class="page-card">
    <h2>Heres an example card</h2>
    <p>Here's some example text, about how this dude went to the FUCKING MOON BABY!</p>
  </div>
  <div class="page-card">
    <h2>Heres an example card</h2>
    <p>Here's some example text, about how this dude went to the FUCKING MOON BABY!</p>
  </div>
</div>