<div class="page-container" >
  <div *ngIf="repos.length == 0">
    Loading
  </div>
  <div class="page-card" *ngFor="let repo of repos; let i = index" id="repo{{i}}">
    <a target="_blank" href="{{repo.url}}"> 
      <h2>{{repo.fullname}}</h2>
    </a>
    <p *ngIf="repo.description">{{repo.description}}</p>
    <p>Last updated: {{repo.updatedAtFormatted}}</p>
    <button *ngIf="repo.language" class="disabled-button">{{repo.language}}</button>
    <button *ngIf="repo.archived == true" class="disabled-button">Archived</button>
  </div>
</div>