.page-container {
  background-color: #EAEFE9;
  height:100%;

  display:flex;
  flex-direction: column;

  gap:1em;

  padding:5em 10em;
}

.page-card {
  background-color: #800000;
  padding:2em;
  border-radius: 0.5em;
  color:#EAEFE9;
  p {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.5em;
  }
}