<div class="container">
  <a routerLink="/"><button class="navlink">Dashboard</button></a>
  <a routerLink="/blog"><button class="navlink">Blog</button></a>
  <a routerLink="/portfolio"><button class="navlink">Portfolio</button></a>
  <a routerLink="/settings"><button class="navlink">Settings</button></a>
  <a routerLink="/contact"><button class="navlink">Contact</button></a>
  <a routerLink="/logout"><button class="navlink">Authentication</button></a>
  <a routerLink="/chess"><button class="navlink">Chess</button></a>
</div>
