<div class="page-container">
  <div class="page-card">
    <h2>westshae's (Shae West's) website</h2>
    <p>
      I've previously had multiple different websites for my various projects, but I'm sick of having to run multiple websites, so here's homebase.
      Some pages do require authentication here, but that only requires your email, no need for passwords.
    </p>
    <p>
      If you're here looking to <B>HIRE ME</B>, I recommend you look at the page labelled 'Hire me'. It goes over my major achievements & projects
      , contact information, a link to my customized github repo (See 'Portfolio' in the sidebar) and a PDF downloadable CV. 
    </p>
    <p>
      If you're here for another reason, take a look over at the sidebar and you'll find a few options, such as my blog, or my side project MVPs.
    </p>
  </div>
</div>